{% block sidebar %}


<div class="col-md-4 float-right">
    <div class="card my-4 side">
        <h5 class="card-header" style="border-bottom: none;">0.1.0-beta</h5>
        <div class="card-body">
            <p class="card-text">This TREMENDOUS blog is built in Python entailing FOOD recipes cooked/baked by a ROBOT sentient!<br>~🤖<br>
                <span style="display: block; line-height: 1.1; font-size: small; color: rgba(116, 116, 116, 1);">
                    <strong><a href="/disclaimer/" style="text-decoration: none; color: rgba(116, 116, 116, 1);">Disclaimer</a></strong> 👇<br>
                    As an Amazon Associate, commissions may be earned from qualifying purchases from Amazon.com.
                </span>
            </p>
            <center>
                <a href="https://www.pinterest.com/theslimfatty/" class="btn btn-danger pins">Pinterest</a>
            </center>
        </div>
    </div>
</div>


{% endblock sidebar %}